<!doctype html>
<html lang="en">
	<body>
		<div>
			<img
				src="https://res.cloudinary.com/dtlx6i2m7/image/upload/v1731120664/dev-tools-studio/wjwlj9h1tyxqd5nizflm.png"
				alt="logo"
			/>
		</div>
		<h1>Security Alert</h1>
		<p>Multi-Factor for your account associated with <b><%= emailId %></b> is disabled now.</p>
	</body>
</html>
