<!doctype html>
<html>
	<body>
		<div>
			<img
				src="https://res.cloudinary.com/dtlx6i2m7/image/upload/v1731120664/dev-tools-studio/wjwlj9h1tyxqd5nizflm.png"
				alt=""
			/>
		</div>
		<p>Welcome to Dev Tools Studio</p>
	</body>
</html>
